/* what kind of style do i want on my grid */

:root {
    --grid-rows: 1;
    --grid-columns: 1;
}

body {
    background-color: rgb(26, 26, 26);

    padding: 2em;
}

#game-div, #game-heading-div, #game-screen-div {
    display: flex;
    justify-content: center;
}

#game-frame-div {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 950px;
    background: rgb(255, 97, 97);
    border-radius: 56px;
    transition: 0.5s;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: rgba(252, 255, 64, 0.952);
}

#reg {
    font-family: 'Raleway', sans-serif;
    color: rgba(252, 255, 64, 0.952);
    font-size: 24px;
    padding-bottom: 50px;
    font-weight: 700;
}

#grid-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    height: 600px;
    width: 600px;
    background-color: rgb(216, 216, 216);
    transition: 0.5s;

}

.grid-cell {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(78, 78, 78, 0.158);
    z-index: 1;
    
}

#buttons-div {
    padding: 1em;
}
    
#control-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    padding-top: 50px;
    font-weight: 700;

}



select {
    background-color: #a8ffdb;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    transform: rotate(-30deg);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 45px;
    width: 125px;
    height: 45px;
    color: rgb(0, 0, 0);
    padding-left: 7px;
    box-shadow: 10px 18px 25px rgba(0, 0, 0, 0.308);
    font-weight: 700;
}

#color-pick-div {  
    transform: rotate(-30deg);
    
}

#color-picker {
    width: 125px;
    height: 45px;
    border-radius: 35px;
    padding: 5px 10px 5px 10px;
    background-color: #a8ffdb;
    box-shadow: 10px 18px 25px rgba(0, 0, 0, 0.308);
    border: 1px solid rgb(0, 0, 0);

}

#size-div {
   padding-top: 10px;
   transform: rotate(-30deg);
   background-color: #a8ffdb;
   border: 1px solid rgb(0, 0, 0);
   border-radius: 45px;
}

#size {
    -webkit-appearance: none;
    margin-top: 7px;
    border-radius: 10px;
    height: 10px;
    background: #252525;
   

}

#size::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 25px;
    background: #ffffff;
    cursor: pointer;
  }
  
#size::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid black;
    background: #f5f5f5;
    cursor: pointer;
}



form input {
    transform: rotate(-30deg);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.151);
}

button {
    border-radius: 45px;
    width: 100px;
    height: 45px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    font-family: 'Raleway', sans-serif;
    font-size: large;
    transform: rotate(-30deg);
    box-shadow: 10px 18px 25px rgba(0, 0, 0, 0.308);
    font-weight: 700;
    width: 125px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
    
}


#github-logo-link {
    align-self: center;
}

#github-logo-link img{
    height: 40px;
}

p, #icons-link {
    align-self: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: beige;
}
a {
    text-decoration: none;
}


@media only screen and (max-width: 600px) {


    #game-heading-div {
        margin-top: -25px;
    }

    #game-frame-div {
        height: 675px;
        transform:scaleX(0.51) scaleY(0.95);
        margin-top: -50px;
    }

    h1 {
        font-size: 48px;
    }


    #grid-container {
        margin-top: -90px;

        transform:scaleX(1.13) scaleY(0.8);
    }

    #buttons-div {
        margin-top: -85px;
    }

    footer {
        padding: 0;;
    }

    footer a {
        margin-top: -20px;
    }

    footer p {
        margin-top: -10px;
    }

}






