/* what kind of style do i want on my grid */

:root {
    --grid-rows: 1;
    --grid-columns: 1;
}

body {
    background-color: #161616;
}

#game-div, #game-heading-div, #game-screen-div {
    display: flex;
    justify-content: center;
}


#game-frame-div {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 650px;
    background: rgb(199, 0, 33);
    border-radius: 56px;
}

h1 {
    font-family: 'Marck Script', cursive;
    font-size: 48px;
    color: rgb(255, 196, 0)

}


#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    height: 400px;
    width: 400px;
    background-color: antiquewhite;

}

.grid-cell {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    
}

#buttons-div, #control-buttons {
    display: flex;
    justify-content: space-between;
}


#buttons-div{
    padding: 3em;
}
