/* what kind of style do i want on my grid */

:root {
    --grid-rows: 1;
    --grid-columns: 1;
}

body {
    background-color: rgb(13, 13, 48);
}

#game-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-frame-div {

    display: flex;
    justify-content: center;

    width: 700px;
    height: 650px;
 
    background: rgb(255, 49, 49);

}



#reset-div {
    display: flex;
    justify-content: center;
    padding: 1em;
    
}

#container {
    display: grid;

    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    height: 500px;
    width: 500px;
    padding: 100px
}

.grid-cell {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    
}

